<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Home Page</title>
</head>
<body>
    <div class="container">
        <h1 class="banner">Read Database Demo Application</h1>
        <h2><a href="{{ BASE_URL }}docs">Documantation</a></h2>
        <h2><a href="{{ BASE_URL }}api/users" >Users api</a></h2>
    </div>
    <div style="background-color: red; float: left; width: 50%;">div 1</div>
    <div style="background-color: black; float: left; width: 50%;">div 2</div>
    <a style="background-color: blue">a</a>
    <span style="background-color: green">spam</span>
</body>
</html>
